@charset "utf-8";
.first-screen{
	width: 100%;
}
.slide-box {
    width: 100%;
    height: 491px;
    overflow: hidden;
    position: relative;
}
.solid-wrapper{
	width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide-wrapper .items {
	display:none;
	width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.1s linear;/*CSS3 过渡效果 属性名 过度时间 */
    -webkit-transition: opacity 0.8s linear;/*safari 兼容*/
    z-index: 1;
}
.slide-wrapper .items a{
	display: block;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    transition: transform 4s linear;
    transform: scale(1.05,1.05);/*CSS3 放大 1.05倍效果*/
    background-size: cover/*CSS3 背景覆盖元素*/
}
.slide-controls{   
	position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    z-index: 3;
}
.circle-wrapper{
	display:inline-block;
}
.circle{
    display: inline-block;
    margin: 0 5px;
    background: #fff;
    text-align: center;
    cursor: default;
    width: 12px;
    height: 12px;
    padding: 0;
    overflow: hidden;
    font-size: 0;
    vertical-align: middle;
    border-radius: 100%;
    cursor: pointer;
}
.cir-active{
    background-color: transparent;
    border: 3px solid #fff;
}

